
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a routerLink="/home" class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Home
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              calculate
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <a class="dropdown-item" routerLink="/vma">calculate VMA</a>
              <a class="dropdown-item" routerLink="/calculate">About VMA</a>
              <a class="dropdown-item" routerLink="/transitTime"> transit time</a>
            </div>
          </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            training plans
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" routerLink="/clothing">sprint </a>
            <a class="dropdown-item" routerLink="/clothing"> middle distance</a>
            <a class="dropdown-item" routerLink="/clothing">long distance</a>
            <a class="dropdown-item" routerLink="/clothing">marathon</a>


          </div>
         </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            news
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" routerLink="/clothing">results</a>
            <a class="dropdown-item" routerLink="/clothing">products testing</a>
            <a class="dropdown-item" routerLink="/clothing">shoes testing</a>
          </div>
        </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          accessoirie
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item" routerLink="/clothing">choses</a>
          <a class="dropdown-item" routerLink="/clothing">clothes</a>
          <a class="dropdown-item" routerLink="/clothing">poisson</a>
        </div>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          sciences
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item" href="#">About VMA</a>
          <a class="dropdown-item" href="#"> aerobic</a>
          <a class="dropdown-item" href="#">anaerobic</a>
        </div>
       </li>
    
      
      </ul>
    </nav>
</div>
