table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 5px;
    text-align: center;
  }
  
  input {
    margin: 10px;
  }