.container {
   display: flex;
   height: 800px;
   width: 100%;
   border: 2px solid black;
}

.card-body {
   height: 400px;
   margin-top: 0;
   width: 1000px; /* Ensure the card-body takes up the full width */
   box-sizing: border-box; /* Include padding and border in the total width */
   text-align: center;
   justify-content: center;
   align-items: center;
}

button {
   width: 100%;
   max-width: none; /* Remove any max-width restrictions */
   background-color: #0000FF;
}

input {
   width: 100%;
   height: 50px;
   box-sizing: border-box; /* Include padding and border in the total width */
}

.icon {
   display: flex;
   font-size: xx-large;
}
.icon a{
   margin: 10px;
}

.btn:hover {
   background-color: rgb(54, 179, 37);
}

.form-check {
   display: flex;
}

.name {
   display: flex;
   width: 100%;
   justify-content: space-around;
}
.name1{
   width: 400px;
}
.name2{
   width: 400px;

}
.form-control{
   border: 2px solid black;

}
