<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header text-center">
                <h1 class="text-center">Contact Form</h1>
            </div>
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="name">
                    <div class="name1">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" class="form-control" placeholder="">
                    </div>
                    <div class="name2">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" class="form-control" placeholder="">
                    </div>
                </div>

                <label for="email">Enter Your Email</label>
                <input type="email" id="email" class="form-control" placeholder="E-mail">

                <label for="confirmEmail">Confirm Your Email</label>
                <input type="email" id="confirmEmail" class="form-control" placeholder="Confirm E-mail">

                <textarea type="text" class="form-control"></textarea>

                <button class="btn btn-secondary">Send</button>

                <div class="icon">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.google.com/" target="_blank"><i class="fab fa-google"></i></a>
                    <a href="https://www.apple.com/" target="_blank"><i class="fab fa-apple"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
