<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-3" href="/ajout">Ajoute</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/list">Liste</a>
          </li>
      
        </ul>
      </div>
  </nav>
 <div class="h1">  <h1> Hello App  </h1> </div>
 


<div class="container">
      <div class="menu">   <app-menu> </app-menu> </div>
      <div class="liste">
          <app-ajout> </app-ajout>
          <app-list>  </app-list>
      </div>
    
</div>

