.container{
    margin-left: 0px;
}
h1{
    color: white;
}

.liste{
        width: 1000px;
}
.collapse navbar-collapse{

    color: aliceblue;
}
.header{
    display: flex;
    background-color: black;
}
.container-fluid{

  justify-content: center;
  align-items: center;
}
