    <div class="liste1">
                <ul>
                 
                    <li>
                        <a href="#"  >
                        <i class="fas fa-home"></i>
                        <p> Aceuil</p> 
                        </a>

                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-user"></i>
                            <p> User</p> 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-table"></i>
                            <p> table</p> 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-pen"></i>
                            <p> pen</p> 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-chart-pie"></i>
                            <p> chart</p> 
                        </a>                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-user-group"></i>
                            <p> group</p> 
                        </a>                    </li>
                    <li class="log-out">
                        <a href="#">
                            <i class="fas fa-sign-out"></i>
                            <p> Log out</p> 
                        </a>
                    </li>
                </ul>
    </div>