.container-fluid{
    background-color: rgb(86, 72, 72);
    width:100px;
    height: 900px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    margin: 0px;
    color: rgb(23, 172, 60);

}
.container-fluid:hover{
    width: 330px;
}

a{
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap:10px;
    width:140px;
    height: 40px;
    border-radius: 5px;
    text-decoration: none;
    color: aliceblue;
    margin-left: 10px;  
}
.box:hover{
    background-color: #e5dede;
}

.profil{
   display: flex;
   gap: 20px;

}
h2{
    color: #e5dede;
}

li{

    list-style: none;
    margin: 20px;

}
ul{
    margin: 5px;
    list-style: none;
   justify-content: space-between;   
   position: relative;
    height: 95%;
}

i{
    color: white;
}
p{
    color: white;
}
a:hover{
    background-color: black;
    transform: scale(1.3);
    transition: 0.1s;
}
.navbar {
    background-color: black;
    color: beige;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .navbar-icon {
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  
  
  
  
  
  
  