.liste1{
    background-color: rgb(41, 11, 11);
    width:100px;
    height: auto;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }
  ul{
    
      margin: 20px;
      list-style: none;
     justify-content: space-between;   
      position: relative;
      height:100vh;
  }
  a{
      align-items: center;
      justify-content: space-between;
      display: flex;
      gap:50px;
      width:140px;
      height: 40px;
      border-radius: 5px;
      text-decoration: none;
      color: aliceblue;
      margin-left: 10px;
  }
   a:hover{
      background-color: rgb(18, 167, 53);
      transform: scale(1.3);
      transition: 0.1s;
  }
  
  
  
  i{
  
    font-size: x-large;
    color: aliceblue;
  
  }
  li{
      margin-bottom: 50px;
  }
  p{
      font-size: large;
  }


  .box:hover{
      background-color: #e5dede;
  }
  .liste1 img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  h2{
      color: #e5dede;
  }
  
  h1{
      color: black;
  }
  .liste24 h3{
      color: #e5dede;
  }
  .log-out{
      position:absolute ;
      bottom: 0;
      color: red;
      width: 60px;
      background-color: red;
  }
  p{
      font-size: large;
  }
  .liste1:hover{
      width: 330px;
      color: rgb(23, 172, 60);
  }
  .title-info{
      padding: 5px;
      margin: 10px;
      border-radius:15px;
      border: 10px solid rgb(154, 39, 39);
      width:98%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: blanchedalmond;
      font-size: large;
  
  
  }