<div class="container-fluid">
    <ul class="navbar-list">
        <li>
            <div class="profil"> 
                <div class="img-box">
                    <img src="https://img.icons8.com/material/24/000000/menu.png" alt="" style=" color: white;">
                </div>
            </div>
        </li>
        <li>
            <a routerLink="/contacts"  class="d-flex">
            <i class="fas fa-envelope fa-2x"> </i>
            <p> Contact</p> 
            </a>
  
        </li>
        <li>
            <a routerLink="/subscribe" >
                <i class="fas fa-user fa-2x"></i>
                <p> User</p> 
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-table fa-2x"></i>
                <p> table</p> 
            </a>
        </li>
       
        <li>
            <a href="#">
                <i class="fas fa-chart-pie fa-2x"></i>
                <p> chart</p> 
            </a>                    </li>
        <li>
            <a href="#">
                <i class="fas fa-user-group fa-2x"></i>
                <p> group</p> 
            </a>                    </li>
        <li class="log-out">
            <a routerLink="/ajout" >
                <i class="fas fa-sign-out fa-2x"></i>
                <p> Log out</p> 
            </a>
        </li>
    </ul>

</div>
