
<div class="container">
    <div class="row">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center"> <strong>To log in </strong></h1>
                    <p>Access all your purchases, services, and applications.</p>
                </div>
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <label for="email">E-mail</label>
                    <input type="email" id="email"class="form-control" placeholder="E-mail">
                    <label for="password">Password</label>
                    <input type="password" id="password"class="form-control" placeholder="Password">
                    <button class="btn btn-secondary">following</button>
                    <p>Next Or log in with</p>
                    <div class="incon ">
                        <a href="https://www.facebook.com/"   target="_blank"><i class="fa-brands fa-facebook"></i> </a> <a href="https://www.google.com/"  target="_blank"><i class="fa-brands fa-google"></i></a> <a href="https://www.apple.com/"  target="_blank"><i class="fa-brands fa-apple"></i></a>

                    </div>

                    <p>No need to create an account if you already have a card (see Help section)</p>
                    <a routerLink="/subscribe" class="text-center">Create an account</a>

                </div>
            </div>
    </div>
</div>
  