
<div class="container">
    <div class="row">
            <div class="card">
                <div class="card-header text-center">
                    <h1 class="text-center"> <strong>Create your account </strong></h1>
                    <p>Access all your purchases, services, and applications.</p>
                </div>
                  <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <div class="form-check">
                    Meal
                      <input type="radio">
                    
                    Female
                      <input type="radio">
                    </div>
                    <label for="name">enter your name</label>
                    <input type="text" id="name"class="form-control" placeholder="name">

                    <label for="email">enter your email</label>
                    <input type="email" id="email"class="form-control" placeholder="E-mail">

                    <label for="email">confirm your email</label>
                    <input type="confirmEmail" id="email"class="form-control" placeholder="E-mail">

                    <label for="password">enter your password</label>
                    <input type="password" id="password"class="form-control" placeholder="Password">

                    <label for="password">confirm your password</label>
                    <input type="confirmPassword" id="confirmPassword"class="form-control" placeholder="Password">

                    <button class="btn btn-secondary">following</button>
                    <p>Next Or log in with</p>
                    <div class="incon ">
                        <a href="https://www.facebook.com/"   target="_blank"><i class="fa-brands fa-facebook"></i> </a> <a href="https://www.google.com/"  target="_blank"><i class="fa-brands fa-google"></i></a> <a href="https://www.apple.com/"  target="_blank"><i class="fa-brands fa-apple"></i></a>

                    </div>

                    <p>No need to create an account if you already have a card (see Help section)</p>
                    <a routerLink="/ajout" class="text-center">Already have an account ? To log in</a>
                </div>
            </div>
    </div>
</div>
  