

#col1{
    background: #8d7373;
}
h4{

    color: #e5dede;
    text-align: center;


   }
  
.grand{
    color: white;
    font-size: xx-large;
}
.moyen{
    font-size: x-large;
    text-align: center;
}
.container-fluid{
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.under{
    background: #1ec092;
    
}

img:hover{
  transform: scale(1.2);
  translate: 4s;

}
